@use '@angular/material' as mat;
@use 'themes_theme-colors' as theme;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: theme.$primary-palette,
    )
  );
  .mat-mdc-card-outlined,
  .mat-toolbar,
  .mat-drawer,
  .mat-stepper-horizontal {
    background-color: white !important;
  }
}
