@use '@angular/material' as mat;

$primary-color: #287A6E;

$checkbox-tokens: (
  selected-icon-color: $primary-color,
  selected-hover-icon-color: lighten($primary-color, 5%),
  selected-focus-icon-color: lighten($primary-color, 5%),
  selected-pressed-icon-color: darken($primary-color, 5%),
  unselected-icon-color: lighten($primary-color, 30%),
  unselected-hover-icon-color: lighten($primary-color, 20%),
  unselected-focus-icon-color: lighten($primary-color, 20%),
  selected-focus-state-layer-color: rgba($primary-color, 0.12),
  selected-hover-state-layer-color: rgba($primary-color, 0.08),
  selected-pressed-state-layer-color: rgba($primary-color, 0.16),
);

@include mat.checkbox-theme($checkbox-tokens);
