@use '@angular/material' as mat;

:root {
  @include mat.button-overrides(
      (
        filled-container-color: #287A6E,
        filled-label-text-color: white,
        filled-container-shape: 8px,
      )
  );
}
