@use '@angular/material' as mat;

$primary-color: #287A6E;

$form-field-tokens: (
  outlined-caret-color: $primary-color,
  outlined-focus-outline-color: $primary-color,
  outlined-focus-label-text-color: $primary-color,
);

@include mat.form-field-theme($form-field-tokens);

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 8px !important;
}
