@use '@angular/material' as mat;
@use 'themes_primary-colors' as theme;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: theme.$primary-palette,
    )
  );
  .mat-mdc-card-outlined,
  .mat-mdc-card,
  .mat-toolbar,
  .mat-drawer,
  .mat-stepper-horizontal,
  .mat-mdc-table {
    background-color: white !important;
  }
}

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: theme.$primary-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

.primary {
  @include mat.button-color($theme, $color-variant: primary);
}

.warn {
  @include mat.button-color($theme, $color-variant: error);
}
