@use '@angular/material' as mat;

:root {
  @include mat.button-overrides(
    (
      filled-container-color: #9e0c0c,
      filled-label-text-color: white,
      filled-container-shape: 8px,
    )
  );
}
